<% unless user_signed_in? %>

	<div class="home-panel" id="main">

		<div class="home-panel-transparency" id="main">
			
			<div class="main-cta-container">

				<h2>Learn Something New</h2>
				<h3>From Experts</h3>
				<h3>In-Person</h3>

				<div class="signup-cta-container">

					<a href="<%= new_user_registration_path %>"class="signup-main-cta" id="student">Enroll in Classes Now</a>

					<br>

					<a href="<%= new_user_registration_path(:teacher=> true) %>" class="signup-main-cta" id="teacher">Teachers, Start Here</a>

				</div>

			</div>

		</div>
		
	</div>

	<div class="home-panel" id="learn">

		<div class="home-two-panel-container">

			<div class="home-two-panel-content" id="panel-2-left">

				<h1>First Panel, left</h1>
				<p>Find me in app/views/pages/home.html.erb</p>


			</div>

			<div class="home-two-panel-content" id="panel-2-right">

				<h1>Second Panel, right</h1>
				<p>Find me in app/views/pages/home.html.erb</p>


			</div>


		</div>

	</div>


<%else%>


	<%unless current_user.city_id %>

		<%= render 'pages/users/user_location_form', locals: {locations: @locations} %>

	<%end%>

	<%if current_user.is_teacher %>

		<div class="teacher-dashboard-container">

			<div class="teacher-dashboard-menu">

				<div class="teacher-dashboard-menu-content">

					<div class="dashboard-profile-image">

						<%= image_tag current_user.image.url(:medium), class: "user-image-menu-profile"%>

						<% if current_user.image.url == "missing_original.png" %>
							
							<span class="add-profile-image-text"><a class="add-profile-image-button">+ Add Your Picture</a></span>

							<%else%>

							<span class="add-profile-image-text" id="default-off"><a class="add-profile-image-button">Change Your Picture</a></span>

						<% end %>

						<%= render 'pages/users/add_profile_image_modal' %>
						

					</div>

					<div class="teacher-menu-header">
					
						<h3><% current_user.name %></h3>

					</div>

					<ul>
						<li><a>My Courses</a></li>
						<li><a>Balance</a></li>
					</ul>

				</div>

				<% if current_user.has_a_saved_class %>

					<p class="teacher-dashboard-add-class-cta">Create a New Course</p>

					<%= render 'courses/modal_create' %>

				<% end %>

			</div>

			<div class="teacher-dashboard-classes">

				<% unless current_user.has_a_saved_class %>

					<div class="teacher-dashboard-class-content empty">

						<div class="empty-dashboard-container">
							<%# link_to new_course_path, :class => "no-style" do %>
							<p class="teacher-dashboard-add-class-cta empty">Create a New Course</p>

							<%= render 'courses/modal_create' %>
							<%#end%>

						</div>

					</div>

				<%else%>

					<%= render 'courses/summary_index' %>

				<%end%>
				
			</div>

		</div>

	<%else%>


		<% if current_user.has_enrolled_in_a_class %>

			<%= render 'pages/users/user_profile_header'%>

		<%else%>
		
			<div class="non-enrolled-user-dashboard">
					
				<%= render 'class_topics/index_by_category', locals: {topics: @topics_index} %>

				<div class="welcome-user-dashboard">

					<div class="welcome-user-dashboard-inner">

						<h3>Welcome to PopupSchools!</h3>
						<p>Ready to learn from experts in <%= current_user.city_name %>? Start by choosing a subject above or one of our upcoming courses below.</p>
					</div>


				</div>

			</div>

			<div class="dashboard-upcoming-classes">

				<div class="dashboard-upcoming-classes-inner">

					<div class="dashboard-panel-horizontal-container">
						
						<h3>Upcoming Classes in <%= current_user.city_name %> <span class="panel-header-see-all">Full Class Schedule</span></h3>

						<ul class="dashboard-panel-horizontal-list">

							<li class="dashboard-panel-horizontal-item">Entry 1</li>
							<li class="dashboard-panel-horizontal-item">Entry 2</li>
							<li class="dashboard-panel-horizontal-item">Entry 3</li>
							<li class="dashboard-panel-horizontal-item">Entry 4</li>

						</ul>

					</div>

					<div class="dashboard-panel-horizontal-container">

						<h3>Top Instructors in <%= current_user.city_name %><span class="panel-header-see-all">All Instructors</span></h3>

						<ul class="dashboard-panel-horizontal-list">

							<li class="dashboard-panel-horizontal-item">Entry 5</li>
							<li class="dashboard-panel-horizontal-item">Entry 6</li>
							<li class="dashboard-panel-horizontal-item">Entry 7</li>
							<li class="dashboard-panel-horizontal-item">Entry 8</li>

						</ul>

					</div>

				</div>

			</div>
		
		<%end%>

	<%end%>

<%end%>






