<!-- <div class="profile-sidebar">

	<ul>

		<li id="basics"><a>Basics</a></li>
		<li id="roles"><a>Roles</a></li>
		<li id="payments"><a>Payments</a></li>
		<li id="cancel"><a>Cancel Account</a></li>

	</ul>

</div> -->


<h2>Edit </h2>

<%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>

<%# form_for current_user do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

	<div><%= f.label :name %><br />
  	<%= f.text_field :name %></div>

  <div><%= f.label :image %><br>
      
      <%= image_tag current_user.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%>
      <br>
      <%= f.file_field :image, class: "form-control" %>
 	</div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

