<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="course-form-container">

    <div class="course-form-menu">

      <div class="course-form-menu-content">

        <div class="course-form-header">
        
          <%= f.text_field :title,  placeholder: "Title of Your Course", class: "course-title-header" %>
          <%= f.text_area :description,  placeholder: "Add a Description of Your Course", autofocus: true, class: "course-description-header" %>

          <%= f.submit "Submit Course for Approval", class: "course-submit-for-approval" %>

        </div>

      </div>

    </div>
    
    <div class="course-form-session-container">

      <h3>Course Sessions</h3>

      <div class="course-form-sessions <% unless @course.course_sessions.count > 0 %>empty<%end%>">



  <!--       <p class="add_fields" id="courses">Add a Session</p> -->

        <%= f.fields_for :course_sessions do |builder| %>
          
          <%= render 'course_session_fields', f: builder %>

        <% end %>
        
        <%= link_to_add_fields "Add a Session", f, :course_sessions %>
        

      </div>

    </div>

  </div>








<!-- <div class="field">
    <%# f.label :user_id %><br>
    <%# f.number_field :user_id %>
  </div> -->

<!--   <div class="field">
    <%# f.label :location_id %><br>
    <%# f.number_field :location_id %>
  </div>

  <div class="field">
    <%# f.label :city_id %><br>
    <%# f.number_field :city_id %> 
  </div> -->

<% end %>
