<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="course-form-container">



    <%= f.text_field :title,  placeholder: "Title of Your Course", class: "course-title-header" %>

    <div class="course-form-content">

      <%= f.text_area :description,  placeholder: "Add a Description of Your Course Here", autofocus: true, class: "course-description-header" %>

      <h3>Course Sessions for <span class="course-sessions-for-name"><%=@course.title%></span></h3>

      <div class="course-form-sessions <% unless @course.course_sessions.count > 0 %>empty<%end%>">

        <%= f.fields_for :course_sessions do |builder| %>
            
          <%= render 'course_session_fields', f: builder %>

        <% end %>
          
        <%= link_to_add_fields "Add a Session", f, :course_sessions %>

        <input class="number-of-sessions" hidden type="number" val= <%=@course.course_sessions.count%> ></input>

      </div>

      <div class="course-form-submit <% unless @course.course_sessions.count > 0 %>empty<%end%>">
        - OR -
        <%= f.submit "Save and Submit Course for Approval", class: "course-submit-for-approval" %>

      </div>



    </div>

  </div>
  
</div>


<!-- <div class="field">
    <%# f.label :user_id %><br>
    <%# f.number_field :user_id %>
  </div> -->

<!--   <div class="field">
    <%# f.label :location_id %><br>
    <%# f.number_field :location_id %>
  </div>

  <div class="field">
    <%# f.label :city_id %><br>
    <%# f.number_field :city_id %> 
  </div> -->

<% end %>
