<%# form_for @course, :url => root_path do |f| %>

<%= form_for @course do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="course-form-container">

    <%= f.text_field :title,  placeholder: "Title of Your Course", class: "course-title-header" %>

    <div class="course-form-content">

      <%= f.text_area :description,  placeholder: "Add a Description of Your Course Here", class: "course-description-header" %>

      <div class="course-form-sessions <% unless @course.course_sessions.count > 0 %>empty<%end%>">

        <h3>Course Sessions for <span class="course-sessions-for-name"><%= @course.title%></span></h3>

        <% @i = 0 %>

        <%= f.fields_for :course_sessions do |builder| %>

          <% @i = @i + 1 %>
            
          <%= render 'course_session_fields', f: builder %>

        <% end %>
          
        <%= link_to_add_fields "Add a Course Session", f, :course_sessions %>

        <input class="number-of-sessions" id="number-of-sessions" type="number" hidden value= <%= @course.course_sessions.count %>></input>

      </div>

      <div class="course-form-submit <% unless @course.course_sessions.count > 0 %>empty<%end%>">

        <%= f.submit "Finish and Submit for Scheduling", class: "course-submit-for-approval" %>

      </div>

    </div>

  </div>
  
</div>


<!-- <div class="field">
    <%# f.label :user_id %><br>
    <%# f.number_field :user_id %>
  </div> -->

<!--   <div class="field">
    <%# f.label :location_id %><br>
    <%# f.number_field :location_id %>
  </div>

  <div class="field">
    <%# f.label :city_id %><br>
    <%# f.number_field :city_id %> 
  </div> -->

<% end %>
