<% current_user.courses.each do |course| %>
	
	<div class="course-summary-index" id="<%= course.id %>">

		<div class="course-summary-title">
		
			<%= course.title %>
		
		</div>

		<div class="course-summary-price">

			$49.000

		</div>

		<div class="course-summary-description">

			<%= course.description %>

		</div>

		<div class="course-summary-sessions">

			<%= course.course_sessions.count %>

		</div>

		<div class="course-summary-instructor">

			Instructed by <%= course.instructor_name %>

		</div>

	</div>

<%end%>