<!DOCTYPE html>
<html>
<head>
  <title>Popupschools</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

	<body>

		<%= render 'layouts/header_for_sidebar'%>

		<%= render 'layouts/sidebar_popover'%>

			<% flash.each do |name, msg| %>
		     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>

		<div class="fixed-header-offset">

			<%= yield %>

		</div>

		<% unless @hide_footer%>
			<%= render 'layouts/footer'%>
			<div class="ajax-loading"></div>
		<%end%>

	</body>

</html>
